.card1{
  background: rgb(203, 200, 255);
   
}
.appbar {
  padding: 0px 20px;
}

.logoDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newFolderDiv{
      display: flex;
        align-items: center;
        justify-content: flex-end;
}
#folderName{
  font-family: '__Poppins_e0630c';
}